#Hidden files and folders
.*
#Tmp files
*.swp
*.swo

makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/_impactbatch.log
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/_ngo/netlist.lst
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/_xmsgs/map.xmsgs
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/_xmsgs/par.xmsgs
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/_xmsgs/xst.xmsgs
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/fpga.svf
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/fpga.xsvf
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/par_usage_statistics.html
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.bgn
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.bin
#makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.bit
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.bld
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.drc
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.ncd
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.ngc
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.ngd
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.ngr
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.pad
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.par
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.pcf
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.prj
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.syr
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level.unroutes
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_bitgen.xwbt
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_map.map
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_map.mrp
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_map.ncd
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_map.ngm
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_map.xrpt
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_ngdbuild.xrpt
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_pad.csv
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_pad.txt
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_par.xrpt
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_summary.xml
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_usage.xml
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/top_level_xst.xrpt
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/usage_statistics_webtalk.html
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/webtalk.log
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/xlnx_auto_0_xdb/cst.xbcd
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/xst/work/work.vdbl
makestuff/hdlmake/apps/makestuff/swled/cksum/vhdl/xst/work/work.vdbx
#makestuff/hdlmake/apps/makestuff/swled/templates/fx2all/boards/atlys/board.ucf
#makestuff/hdlmake/apps/makestuff/swled/templates/fx2all/vhdl/top_level.vhdl
#makestuff/hdlmake/apps/makestuff/swled/templates/harness.vhdl
